<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/Theme.Zeiterfassung"
    tools:targetApi="31">

    <!-- Mitarbeiter-Ansicht -->
    <activity android:name=".EmployeeActivity" />

    <!-- Mitarbeiter-Ansicht -->
    <activity android:name=".EmployeeCurrentJobActivity" />

    <!-- Vorgesetzten-Ansicht -->
    <activity android:name=".EmployeeAddOnButtonsActivity" />

    <!-- Vorgesetzten-Ansicht -->
    <activity android:name=".SuperVisorAddOnButtonsActivity" />

    <!-- Vorgesetzten-Ansicht -->
    <activity android:name=".SupervisorCurrentJobActivity" />

    <!-- Vorgesetzter Fertige Aufträge-Ansicht -->
    <activity android:name=".SupervisorWorkHistoryActivity" />

    <!-- Weitere Informationen Vorgesetzter-Ansicht -->
    <activity android:name=".SupervisorMoreInformationActivity" />

    <!-- Neuer Auftrag anlegen-Ansicht -->
    <activity android:name=".SupervisorNewJobActivity" />

    <!-- Vorgesetzten-Ansicht -->
    <activity android:name=".SupervisorActivity" />

    <!-- Mitarbeiter-Ansicht fertige Aufträge-->
    <activity android:name=".EmployeeWorkHistoryActivity" />

    <!-- Login ist die Startseite (Launcher) -->
    <activity android:name=".LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


</application>




</manifest>
